<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Registro UTP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="contenedor">
    <h1 class="titulo">App móvil híbrida</h1>
    <p class="mejorTexto">Complete los datos para validar el registro.</p>
    <ion-item>
      <ion-label position="stacked">Nombre completo</ion-label>
      <ion-input [(ngModel)]="nombre" placeholder="Ejemplo: Ana Torres"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input [(ngModel)]="correo" placeholder="Ejemplo: ana@utp.edu.pe"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tipo de aplicación</ion-label>
      <ion-select [(ngModel)]="tipoApp" placeholder="Seleccione una opción">
        <ion-select-option value="Académica">App académica</ion-select-option>
        <ion-select-option value="Ventas">App de ventas</ion-select-option>
        <ion-select-option value="Soporte">App de soporte</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Ingresa el nombre del proyecto:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button expand="block" color="danger" class="boton-principal" (click)="validarRegistro()">Validar
      registro</ion-button>
    <ion-button expand="block" fill="outline" color="medium" (click)="limpiar()">Limpiar</ion-button>
    <ion-button id="present-alert">Hazme click</ion-button>
    <ion-alert trigger="present-alert" header="Acerca de " subHeader="Los datos que ingresarás"
      message="Estos datos no van a ser modificables y van a marcar la identidad de la aplicación."
      [buttons]="alertButtons"></ion-alert>
    <ion-card *ngIf="mensaje" [class.card-ok]="registroValido" [class.card-error]="!registroValido">
      <ion-card-content>{{ mensaje }}</ion-card-content>
    </ion-card>
    <ion-button
        expand="block"
        color="danger"
        routerLink="/detalle">
        Continuar al detalle
    </ion-button>
  </div>
</ion-content>